body{
    background: #d9b8c9;
}
button:focus{
    outline: none;
}
button{
    border: none;
    background-color: transparent
}
.calculator{
    display: inline-block;
    background: #777774;
    padding: 25px 20px;
    margin-top: 2rem;
    color: #fff;
    width: 350px;
    text-align: center;
    border-radius: 5px;
}
input {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 10px;
}
#input {
    border-radius: 5px;
    height: 90px;
    font-size: 25px;
    color: #3bae3f;
}
#output{
    font-size: 22px;
    border-radius: 0 0 5px 5px;
}
.calculator table{
    margin: auto;
}

table{
    margin-top: 10px !important;

}
table tr td {
    padding: 10px 12px;
    background: repeating-linear-gradient(320deg, black, transparent 100px);
}
table tr td button{
    padding: 10px 15px;
    color: rgb(242, 249, 248);
}
table tr td p{
    padding: 10px 15px;
    color: rgb(236, 238, 238);
    margin: 0;
    cursor: pointer;
}